@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  transition: all .2s linear;
}

html::-webkit-scrollbar{
  width:20px;
}

html::-webkit-scrollbar-track{
  background: #000;
}

html::-webkit-scrollbar-thumb{
  background: #fff;
}

body{
  background: #000;
}

.container{
  padding:9%;
  text-align: center;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.container .text{
  color:#fff3;
  font-size: 8vw;
  text-transform: capitalize;
  padding:30px;
  cursor: pointer;
  text-decoration: none;
}

.container .text:hover{
  color:#fff;
  position: relative;
  z-index: 100;
  text-shadow: 0 5px 10px rgba(0,0,0,.7);
}

.container .text:hover ~ .hover-img{
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.hover-img{
  position: absolute;
  top:0; left:0;
  transform: translate(-50%, -50%) scale(.5);
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}
.kl{
  text-decoration: none;
}
::-webkit-scrollbar{
  width: 0px;
}
#scrollpath{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}
#progressbar
{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #008aff, #00ffe7);

  animation: animate 5s linear infinite;

}
  @keyframes animate
  {
    0%, 100%
    {
      filter: hue-rotate(0deg);

    }
    50%
    {
      filter: hue-rotate(360deg);
    }
  }
#progressbar:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}
#progressbar:after
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
  }