body{
	font-display: sans-serif;
	background-color:rgb(82,107,113);
	margin: 0px;
	background-image: url(2.2.jfif);
	/*background-image: url(bg.webp);*/
	
}
.op{
	margin: 0px;
	padding: 0px;
	background-image: url(bg.webp);
	height: 191px;
}
/*.op h1{
	text-align: center;
	color: #777;
	font-size: 2.4em;
	font-weight: 312;
	letter-spacing: 0.1em;
	text-shadow: 0 0 10px #00b3ff,
				0 0 20px #00b3ff,
				0 0 40px #00b3ff,
				0 0 80px #00b3ff,
				0 0 120px #00b3ff;*/
}

h2{
	text-align: center;
	color: forestgreen;
	margin: 30px 0 50px;
}
.gallery{
	
	margin-left: 65px;
	margin-top: 36px;
}
.gallery img{
	width: 230px;
	padding: 5px;
	filter: grayscale(100%);
	transition: 1s;
}
.gallery img:hover{
	filter:grayscale(0);
	transform: scale(1.1);
}
.op H2 {
  font-size: 30px;
  color: black;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
 	from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px orange, 0 0 40px red, 0 0 50px #e60073, 0 0 60px skyblue, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px orange, 0 0 40px red, 0 0 50px yellow, 0 0 60px pink, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.container {
  text-align: center;
  display: inline;
}

h1{
  position:relative;
  color:#fff;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg,#000,#fff,#000);
  background-repeat: no-repeat;
  background-size: 85%;
  -webkit-background-clip:text;
  -webkit-text-fill-color:rgba(255,25,255,0);
  animation:shining 8s linear infinite;
  text-align: center;
}
@keyframes shining
{
  0%
  {
    background-position: -500%
  }
  100%
  {
    background-position: 500%;
  }
}

nav {
  width: 50%;
  position: absolute;
  top: 15%; left: 52%;
  transform: translate(-50%,-50%);
}

ul {
  display:flex;
  flex-direction: row;
  align-items: center;
  list-Style: none;
}

li {
  margin-top: 20px;
}

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: helvetica;
  display: inline-block;
  padding: 16px 32px;
  background-image: linear-gradient(120deg, transparent 50%, white 50%);
  background-size: 250%;
  transition: all 0.4s;
  letter spacing: 2px;
  font-size: 21px;
}

li:hover a {
  background-position: 100%;
  color:red;
  transform: translateX(16px);
}


h2{
  position:relative;
  color:#fff;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg,#000,#fff,#000);
  background-repeat: no-repeat;
  background-size: 85%;
  -webkit-background-clip:text;
  -webkit-text-fill-color:rgba(255,25,255,0);
  animation:shining 9s linear infinite;
  text-align: center;
}

P{
	text-align: center;
	font-size: 36PX;
	overflow: hidden;
	padding-top: 28PX;
	background-image: url(24.JFIF);
	padding: 6px;
	margin: 0px 0px;
	padding-top: 13px;
	color: white;
}
